<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="ToDoList" asp-action="Index">Todo Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="ToDoList" asp-action="InvisibleLists">Invisible Todo Lists</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>