@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}
<div class="text-light">
    <h1 class="text-danger w-10">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
        <p>
            <strong>Status Code:</strong> <code>@Model.StatusCode</code>
        </p>
    }
    
    <a class="btn btn-primary float-right m-1" asp-controller="ToDoList" asp-action="Index">Back To Safe Place</a>
</div>