@model ToDoListModel


<div class="card border-light bg-info rounded-pill text-whit">
    <div class="container row p-1">
        <h2 class="col-4 card-title">
            @Model.Title
        </h2>
        <div class="col-4 badge badge-warning">
            <h6>Creation Date: @(Model.CreationDate.ToString("dd/MM/yy HH:mm"))</h6>
        </div>

        <span class="col-4">
            <a class="btn btn-text btn-info" asp-controller="ToDoList" asp-action="Details" asp-route-id="@Model.Id">
                Details
            </a>
        </span>
    </div>
</div>
