@model IEnumerable<ToDoListModel>
<div class="bg-dark text-white">
    <h1> To Do Lists</h1>
    <div class="m-1 p-1">
        <a class="btn bg-dark alert-danger text-light font-weight-bold m-1" asp-controller="ToDo" asp-action="ShowDueToday">Todo's due today</a>
    </div>
    <div class="card border-0 m-1 p-1 bg-dark">
        @if (Model.Count() == 0)
        {
            <h3>No Todo lists To display</h3>
        }
        else
        {
            @foreach (var m in Model)
            {
                <partial name="ToDoListView" model="m" />
            }
        }
        <div class="m-1 p-1">
            <a class="btn btn-primary bg-dark btn-outline-light text-light font-weight-bold float-right m-1" asp-controller="ToDoList" asp-action="Create">Create new</a>
        </div>
    </div>
</div>
